<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Word Counter Game!</h1>
      <a href='/games'><button class='btn btn-info'>Play the game!</button></a>
      <br><br>
    </div>
  </body>
</html>
